spring:
  application:
    name: "Buoyogo"
  datasource:
    url: "jdbc:h2:mem:factory_db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE"
    driver-class-name: org.h2.Driver
    username: sa
    password: ""
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        # CRITICAL for processing 1,000 events in < 1 second [cite: 71, 118]
        jdbc:
          batch_size: 1000
          batch_versioned_data: true
        order_inserts: true
        order_updates: true
  jackson:
    serialization:
      INDENT_OUTPUT: true
    write-dates-as-timestamps: false